body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #EEEEEE;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 1.6em;
    letter-spacing: 8px;
    font-weight: 500;
    color: #191923;
    margin-top: 100px;
    margin-bottom: 30px;
}

#x-marker {
    color: #BF1363;
    font-weight: 600;
}

#o-marker {
    color: #0E79B2;
    font-weight: 600;
}

#game-board {
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #FBFEF9;
    border-width: 0px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 2px inset rgba(0, 0, 0, 0.4);
}

.grid-cell-top-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-top-width: 2px;
    border-color: #C2C2C2;
}

.grid-cell-right-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-right-width: 2px;
    border-color: #C2C2C2;
}

#control-panel {
    height: 50px;
    width: 400px;
    margin: 10px auto;
    background-color: #8BE151;
    border-width: 0px;
    border-radius: 6px;
}