html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #191923;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#flex-row {
    display: flex;
    margin-top: auto;
    margin-bottom: 6px;
}

#flex-row p {
    color: #FBFEF9;
}

#icon-swap {
    color: #FBFEF9;
}

.fade-in {
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.fade-out {
  animation: fadeOut ease 0.8s;
  -webkit-animation: fadeOut ease 0.8s;
  -moz-animation: fadeOut ease 0.8s;
  -o-animation: fadeOut ease 0.8s;
  -ms-animation: fadeOut ease 0.8s;
}
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

#icon-swap:hover {
    cursor: pointer;
    transform: scale(1.2);
}

h1 {
    font-size: 1.6em;
    letter-spacing: 8px;
    font-weight: 500;
    color: #FBFEF9;
    margin-bottom: 20px;
}

.x-marker {
    color: #DF1674;
    font-weight: 600;
}

.o-marker {
    color: #0E79B2;
    font-weight: 600;
}

#game-board {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #A0A0BB;
    border-width: 0px;
    border-radius: 6px;
    box-shadow: 0px 3px 10px 3px inset rgba(0, 0, 0, 0.7);
}

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-cell-top-border {
    border-style: solid;
    border-top-width: 2px;
    border-color: #4C4C6B;
}

.grid-cell-right-border {
    border-style: solid;
    border-right-width: 2px;
    border-color: #4C4C6B;
}

@keyframes blinkingBorder {
  0%		{border-color: #4C4C6B;}
  25%		{border-color: #66668F;}
  50%		{border-color: #4C4C6B;}
  75%		{border-color: #66668F;}
  100%	{border-color: #4C4C6B;}
}

.blink-border {
  animation: blinkingBorder 0.9s 3;
}

#game-board p {
    font-size: 5em;
}

#control-panel {
    height: 50px;
    width: 400px;
    background-color: #A0A0BB;
    border-width: 0px;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "p1 start p2";
    font-size: 1.2em;
    padding: 0px;
}

#p1 {
    
}

#p2 {
    
}

#p1div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px 2px 0px 0px;
    border-color: #4C4C6B;
    border-style: solid;
}

#start-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #4C4C6B;
    font-size: 1em;
    font-weight: 600;
    background-color: #A0A0BB;
}

@keyframes blinkingBackground {
    0%		{ background-color: #A0A0BB;}
    25%		{ background-color: #4C4C6B;}
    50%		{ background-color: #A0A0BB;}
    75%		{ background-color: #4C4C6B;}
    100%	{ background-color: #A0A0BB;}
}

.blink-bg {
    animation: blinkingBackground 0.9s 1.5;
}

#p2div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1-icon {
    color: #DF1674;
}

#p2-icon {
    color: #0E79B2;
}

#control-panel i {
    margin-left: 6px;
    margin-right: 4px;
}

#control-panel input {
    width: 100%;
    display: block;
    border-style: none;
    outline: none;
    background-color: transparent;
}

#control-panel input:hover {
    cursor: text;
}

#control-panel input:focus {
    border: none;
}

#p1div:hover, #start-reset:hover, #p2div:hover {
    cursor: pointer;
    background-color: #4C4C6B;
}

@keyframes blinkingX {
    0%		{color: #DF1674;}
    25%		{color: #EB3389;}
    50%		{color: #DF1674;}
    75%		{color: #EB3389;}
    100%	{color: #DF1674;}
}

.blink-X {
    animation: blinkingX 0.9s 3;
}

@keyframes blinkingO {
    0%		{color: #0E79B2;}
    25%		{color: #129AE2;}
    50%		{color: #0E79B2;}
    75%		{color: #129AE2;}
    100%	{color: #0E79B2;}
}

.blink-O{
    animation: blinkingO 0.9s 3;
}